# LaTeX temporary files
*.aux
*.log
*.toc
*.fls

assets-build/
build.ninja
.ninja_deps
.ninja_log

# PDF output - usually a bad idea to keep this in Git
main.pdf

# Latexmk
*.fdb_latexmk
*.xdv

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

# Notebook Checkpoints
.ipynb_checkpoints/

.directory
